<br><br>
<div class="row">
     <div class="col-lg-12">
       <h4>Hi, <%=current_user.name%></h4>
       <p>Welcome to South Africa’s largest branded fashion clothing and footwear retailer</p> <br>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-sm" %>
     </div>
 <br>
 </div>
 <br>
<div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
      <div class="row">
         <div class="col-lg-6 col-md-8">
             <div class="card ">
                 <div class="card-header panel-green">
                     <div class="row">
                         <div class="col-xs-3">
                            <i class="mdi mdi-message-text"></i> SMS
                         </div>

                     </div>
                 </div>

             </div>
         </div>
         <div class="col-lg-6 col-md-8">
             <div class="card ">
                 <div class="card-header panel-green">
                     <div class="row">
                         <div class="col-xs-3">
                             <i class="fa  fa-phone-square" aria-hidden="true"></i></i> Voice
                         </div>

                     </div>
                 </div>
             </div>
         </div>

    </div>

    <div class="row">
       <div class="col-lg-6 col-md-8">
           <div class="card ">
               <div class="card-header panel-green">
                   <div class="row">
                       <div class="col-xs-3">

                      <i class="mdi mdi-flash"></i> Electricity
                       </div>

                   </div>
               </div>

           </div>
       </div>
       <div class="col-lg-6 col-md-8">
           <div class="card">
               <div class="card-header panel-green">
                   <div class="row">
                       <div class="col-xs-3">
                          <i class="mdi mdi-shopping"></i> shopping
                       </div>

                   </div>
               </div>
           </div>
       </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-8">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-television" aria-hidden="true"></i> Competitions
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
        <div class="card ">
            <div class="card-header panel-green">
                <div class="row">
                    <div class="col-xs-3">
                       <i class="fa fa-arrow-down" aria-hidden="true"></i> <i class="fa fa-arrow-up" aria-hidden="true"></i> Data
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="col-md-4">
  <div class="card">
    <div class="card-body">
    <section id="usage">
        <p> <i class="mdi mdi-cellphone"></i> USAGE | <%=current_user.phone%></p>
        <hr>
         <%=render'home/charts/data_usage'%> <br>
         <%=render'home/charts/voice_usage'%>
         <br>
         <button id="topup" class="btn btn-block btn-lg btn-primary">Top up</button>
      </section>
    </div>
</div>
</div>
<div class="col-md-4 push-right">
  <i class="mdi mdi-calendar"></i> <%= Date.today %>
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-black rounded box-shadow">
          <img class="mr-3" src="https://www.choicehotels.com/cms/images/choice-hotels/choice-privileges/cp-points-for-stays-icon/cp-points-for-stays-icon.png" alt="" width="48" height="48">
          <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Points</h6>
            <small>200 pts</small>
          </div>
    </div>
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-black rounded box-shadow">
            <img class="mr-3" src="https://www.rbcrewards.com/camp/apple/_assets-custom/images/redeem_icon_2.png" alt="" width="48" height="48">
            <div class="lh-100">
              <h6 class="mb-0 text-white lh-100">Credit</h6>
              <small>Active</small>
            </div>
      </div>


</div>
</div>
